server:
  port: 8888

spring:
  application:
    name: gateway-service
  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: company-service
          uri: lb://company-service
          predicates:
            - Path=/api/companies/**
        - id: stock-service
          uri: lb://stock-service
          predicates:
            - Path=/api/stocks/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
